<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/user :: head"> </head>

<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">

    <!-- Main Header -->
    <header th:replace="/fragments/user :: header"> </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside th:replace="/fragments/user :: aside_menu"> </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:text="'Thành viên trong dòng tộc'">
            </h1>
            <ol class="breadcrumb">
                <a th:href="'/genealogy/'+ ${genealogy.getId()} +'/'" type="button" class="view btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span >Dòng tộc</span></a>
                <a th:href="'/genealogy/'+ ${genealogy.getId()} +'/pedigree'" type="button" class="view btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span >Dannh sách phả hệ</span></a>
                <li class="active"  ><a href="/genealogy"><i class="fa fa-dashboard"></i><span th:text="#{genealogy}"></span></a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->

            <div class="box box-info">
                <!-- /.box-header -->
                <table id="table">
                    <thead>
                    <tr>
                        <th data-width="30%" data-sortable="true" data-field="name"> Tên</th>
                        <th data-width="30%" data-field="email" >Email</th>
                        <th data-width="20%" data-field="status" th:text="#{genealogy.find.table.status}"  data-formatter="actionFormatStatus"></th>
                        <th data-width="150px" data-formatter="actionFormatter" data-events="actionEvents" data-field="action" th:text="#{genealogy.find.table.action}"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="/fragments/user :: footer"/>

    <!-- Control Sidebar -->
    <aside th:replace="/fragments/user :: aside"/>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<div th:replace="/fragments/user :: js"/>

<script th:inline="javascript">
    /*<![CDATA[*/
    var idPermission = [[${idPermission}]];
    var idUser = [[${idUser}]];

    function actionFormatter(value, row, index) {
        // console.log("value "  + JSON.stringify(value));
        // console.log("row "  + JSON.stringify(row));
        // console.log("index "  + JSON.stringify(index));
        var status = row.status;
        var listBtn = [];
        if(idUser != row.idUser && idPermission != 3 &&  idPermission <= status){
            switch  (status){
                case 0:
                case 1:
                case 2:
                case 4:
                    listBtn.push('<button type="button" class="edit btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>');
                    listBtn.push('<button type="button" class="remove btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                    break;
                case 3:
                    switch (idPermission){
                        case 1:
                            listBtn.push('<button type="button" class="accept btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>');
                            listBtn.push('<button type="button" class="deny btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>');
                    }
                    break;
            }
        }
        return listBtn.join(' ');
    }
    function actionFormatStatus(value, row, index) {
        var result = '';
        switch (value){
            case 0:
                result = "Chưa đăng ký";
                break;
            case 1:
                result = "Admin";
                break;
            case 2:
                result = "Mod";
                break;
            case 3:
                result = "Đã Đăng Ký";
                break;
            case 4:
                result = "Thành viên";
                break;
        }
        return result;
    }
    window.actionEvents = {
        'click .view': function (e, value, row, index) {
            window.location = "https://"+ document.location.host  +'/genealogy/' + row.id;
        },
        'click .edit': function (e, value, row, index) {
            var inputOptions = [];
            inputOptions.push({text: 'Click để chọn.', value: ''});
            switch (idPermission){
                case 1:
                    inputOptions.push({text:  'Admin', value: '1'});
                case 2:
                    inputOptions.push({text:  'Mod', value: '2'});
                case 4:
                    inputOptions.push({text:  'Thành viên', value: '4'});
            }
            bootbox.prompt({
                title: "Vui lòng chọn chức vụ bên dưới",
                inputType: 'select',
                inputOptions: inputOptions,
                callback: function (result) {
                    if(result != ''){
                        var data= {idUserGenealogy:row.id,idPermission:result};
                        $.post( "/rest/genealogy/member/update", data)
                         .done(function( data,status ) {
                             if(status == "success"){
                                 row.status = result;
                                 $('#table').bootstrapTable("updateRow",{index:index,row:row});
                                 $('#table').bootstrapTable("refresh");

                             }
                             console.log("change permission" + data + status +"|"+ result);
                         });
                    }
                }
            });

        },
        'click .remove': function (e, value, row, index) {
            bootbox.confirm({
                message: "Bạn muốn xóa người này ra khỏi dòng tộc?",
                backdrop: true,//click ra ngoai huy
                className: 'bb-alternate-modal',// giật giật
                buttons: {
                    confirm: {
                        label: 'Đồng ý',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hủy',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        var data= {idUserGenealogy:row.id,idPermission:0};
                        $.post( "/rest/genealogy/member/update", data)
                         .done(function( data,status ) {
                             if(status == "success"){
                                 row.status = 4;
                                 $('#table').bootstrapTable("remove",{field:"id",values:[row.id]});
                             }
                         });
                    }
                }
            });
        },
        'click .accept': function (e, value, row, index) {
            var data= {idUserGenealogy:row.id,idPermission:4};
            $.post( "/rest/genealogy/member/update", data)
             .done(function( data,status ) {
                 if(status == "success"){
                     row.status = 4;
                     $('#table').bootstrapTable("updateRow",{index:index,row:row});
                 }
             });
        },
        'click .deny': function (e, value, row, index) {
            var data= {idUserGenealogy:row.id,idPermission:0};
            $.post( "/rest/genealogy/member/update", data)
             .done(function( data,status ) {
                 if(status == "success"){
                     row.status = 4;
                     $('#table').bootstrapTable("remove",{field:"id",values:[row.id]});
                 }
             });
        }
    };

    var idGenealogy = [[${idGenealogy}]];
    $(function () {
        console.log("load bootstrap table");
        $('#table').bootstrapTable({
            search: true,
            pagination: true,
            url: "https://"+ document.location.host  +'/rest/genealogy/'+idGenealogy+'/member'
        });
    });
    /*]]>*/
</script>
</body>
</html>
