<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">
        <link rel="stylesheet" type="text/css"  th:href="@{/css/footer.css}" />
        <footer class="footer">
            <!-- this is footer -->
            ® 2019 PQV™
            <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"/>
            <script  type="text/javascript"  th:src="@{/js/jquery-2.2.4.min.js}"></script>
        </footer>
    </div>

</div>
</body>
</html>